.box-footer {
    height: 100%;
    background-color: rgb(247, 177, 47);
    content: "";
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
  }
  .box-footer p {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
    transform: translate(50%, 50%);
  }