.organize {
    height: 100%;
    background-color: rgb(247, 177, 47);
    content: "";
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 1;
  }
  
  .organize .org-first {
    width: 50%;
    text-align: center;

  }
  
  .organize .org-second  {
    width: 50%;
  }
  
  .organize h3 {
    color: rgb(0, 0, 0);
    margin: auto;
    width: 80%;
    font-size: 3.6em;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    text-align: center;
  }
  @media only screen and (max-width: 900px) {
    .organize  {
      width: 100%;
    }
  }